<!DOCTYPE html>
<header>
    <link href="../style/common.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</header>
<body>
  <div>
    <!-- header -->
    <div class="header">
      <div class="section-container">
        <div class="main-header">
            <a href="/">
              <img src="../img/img-logo-bi.png"
              srcset="../img/img-logo-bi@2x.png 2x,
                ../img/img-logo-bi@3x.png 3x"
              alt="열린기술공방">
            </a>
            <ul>
              <li class="mg-r40 active"><a href="index.html">열린기술공방 소개</a></li>
              <li class="mg-r40"><a href="migration.html">마이그레이션</a></li>
              <li class="mg-r40"><a href="devopsMsa.html">DevOps . MSA</a></li>
              <li>문의하기</li>
            </ul>
        </div>
          <!-- <div class="sub-menu-list">
            <div class="sub-menu-container">
                <ul>
                  <li>열린기술공방 소개</li>
                  <li>우리의 철학</li>
                  <li>우리의 서비스</li>
                  <li>문의하기</li>
                </ul>
                <ul>
                  <li>서비스 개요</li>
                  <li>제공 서비스</li>
                  <li>Migration 방법론</li>
                  <li>기술 아키텍쳐</li>
                  <li>문의하기</li>
                </ul>
                <ul>
                  <li>서비스 개요</li>
                  <li>제공 서비스</li>
                  <li>문의하기</li>
                </ul>
                <ul>
                  <li>문의하기</li>
                  <li>기술자료 다운로드</li>
                </ul>
            </div>
          </div> -->
      </div>
    </div>

    <!-- section -->
    <div id="intro" class="continer">
      <section class="section-1">
        <div class="section-container flex">
          <div class="contents">
            <h1>기술공유의 가치를 실현하는 곳 <br/><span class="highlight-purple">열린기술공방</span></h1>
            <div class="description">열린기술공방(Sharing Technology LABS)은<br/>
                오픈소스·클라우드 관련 기술을 전파하고 클라우드 마이그레이션<br/>
                데브옵스·애자일과 같은 개발 문화를 직접 체험할 수 있는<br/>
                개방된 지식 공유 공간입니다.
            </div>
            <button class="orange-btn big-btn">더 알아보기</button>
          </div>
          <div>
            <img src="../img/img-m-visual-illust.png" srcset="../img/img-m-visual-illust@2x.png 2x, ../img/img-m-visual-illust@3x.png 3x">
          </div>
        </div>
      </section>
      <section class="section-2 description-section">
          <div class="section-container">
            <h1 class="title"><span class="highlight-purple">대화</span>를 열고 기술을 <span class="highlight-purple">완성</span>합니다.</h1>
            <div>
              열린기술공방은 고객과의 긴밀한 협업을 통해 <b>현재 시장에서 필요한 기술을 실제 업무 시스템에 적용할 수 있도록 돕는 역할</b>을 합니다.<br/>
              시장에서 가장 많은 요구사항인 클라우드 마이그레이션, 쿠버네티스 환경 기반의<br/>
              DevOps/MSA, 아틀리사인 솔루션을 활용한 애자일을 경험하실 수 있는 내용입니다.
            </div>
            <div class="description">
                오픈소스컨설팅의 경험이 담긴 클라우드 마이그레이션 가이드와 이를 직접 시연해 볼 수 있는 리모트 랩 환경을 제공합니다. <br/>
                고객은 체계적인 마이그레이션 방법을 학습하고, 마이그레이션 사례 및 전환 시 고려사항에 대한 스킬셋을 축적할 수 있습니다.
            </div>
          </div>
      </section>
      <section class="section-3 description-section">
        <div class="section-container">
          <img src="../img/img-logo-bi-2.png" srcset="../img/img-logo-bi-2@2x.png 2x, ../img/img-logo-bi-2@3x.png 3x">
        </div>
      </section>
      <section class="section-4 description-section">
        <div class="section-container">
          <div>
            클라우드와 같은 기술 트렌드를 빠르게 도입하고 내재화하기 위해서는 일하는 방식의 변화가 동반되어야 합니다. 
            열린기술공방은 기업의 민첩성을 향상시키기 위한,<b>보다 현실화 된 DevOps/MSA 문화를 체험 프로그램을 제공</b>합니다. 
            <b>고객은 열린 문화를 직접 경험할 수 있고, 실제 파일럿 형태의 프로젝트 결과물을 통해 기술과 변화된 문화를 고객사 내부에 전파</b>할 수 있습니다.
          </div>        
          <div>
              열린기술공방에서 쌓인 사례와 콘텐츠는 모두 공유됩니다. 지식의 공유는 더 나은 기술 발전으로 이어집니다.
              공유의 가치를 실현함으로써 고객과 함께 성장하는 것이 열린기술공방의 궁극적인 목표입니다.
          </div>
        </div>
      </section>
      <h1 id="philosophy" class="section-5-title">우리의 철학</h1>
      <section class="section-5">
        <div class="section-container">
          <div class="flex">
            <div class="item">
              <img src="../img/img-ico-v-01.png" srcset="../img/img-ico-v-01@2x.png 2x, ../img/img-ico-v-01@3x.png 3x">
              <h2><span class="highlight-orange">열려</span>있는 Open</h2>
              <div>고객은 직접 열린 문화를 경험할 수 있습니다.</div>
            </div>
            <div class="item">
              <img src="../img/img-ico-v-02.png" srcset="../img/img-ico-v-02@2x.png 2x, ../img/img-ico-v-02@3x.png 3x">
              <h2><span class="highlight-orange">공유</span>하는 Share</h2>
              <div>지식의 공유는 더 나은 기술 발전으로 이어집니다.</div>
            </div>
            <div>
              <img src="../img/img-ico-v-03.png" srcset="../img/img-ico-v-03@2x.png 2x, ../img/img-ico-v-03@3x.png 3x">
              <h2><span class="highlight-orange">협업</span>하는 Cooperate</h2>
              <div>긴밀한 협업을 통해 스킬셋을 축적할 수 있습니다.</div>
            </div>
          </div>
        </div>
      </section>
      <section id="service" class="section-6 bg-purple">
        <div class="section-container">
          <h1 class="title">우리의 서비스</h1>
          <div class="flex">
            <div>
              <h2 class="sub-title">Open Source</h2>
              <div>
                  -  오픈소스 도입 방법 및 기술 가이드<br/>
                  -  오픈소스 전환 및 관리 방법에 대한 노하우 전수<br/>
                  -  오픈소스 라이선스 및 컴플라이언스 가이드<br/>
                  -  오픈소스 도입 관련 컨설팅 서비스<br/>
              </div>
            </div>
            <div class="img-container">
              <img src="../img/img-ico-service-01.png" srcset="../img/img-ico-service-01@2x.png 2x, ../img/img-ico-service-01@3x.png 3x">
            </div>
          </div>
        </div>
      </section>
      <section class="section-7">
        <div class="section-container flex">
          <div class="img-container">
              <img src="../img/img-ico-service-02.png" srcset="../img/img-ico-service-02@2x.png 2x, ../img/img-ico-service-02@3x.png 3x">
          </div>
          <div>
            <h2>Migration</h2>
            <div>
                -  OS, 미들웨어 전환 방법 가이드<br/>
                -  AWS 기본 구성 및 마이그레이션 교육<br/>
                -  U2L 방법론 및 미들웨어(Apache, Tomcat) 교육 서비스<br/>
                -  마이그레이션 PoC (Lightweight, midweight, heavy weight 전환)
            </div>
          </div>
        </div>
      </section>
      <section class="section-8 bg-purple">
        <div class="section-container flex">
          <div></div>
          <div class="img-container">
              <img src="../img/img-ico-service-03.png" srcset="../img/img-ico-service-03@2x.png 2x, ../img/img-ico-service-03@3x.png 3x">
          </div>
          <div>
            <h2 class="sub-title">MSA/DevOps</h2>
            <div>
                -  AWS 클라우드, Kubernetes 기본 구축 및 환경 구성 교육 <br/>
                -  솔루션 containerize에 대한 이해 및 고려 검토 사항 가이드<br/>
                -  MSA 개발 방법론 이해 및 초기 프로젝트 구성 방법 가이드<br/>
                -  DevOps를 위한 CI/CD 기본 환경 구축 가이드<br/>
                -  DevOps 및 Agile Simulation 프로그램
            </div>
          </div>
        </div>
      </section>
      <section class="section-9">
          <div class="section-container flex">
            <div class="img-container">
                <img src="../img/img-ico-service-04.png" srcset="../img/img-ico-service-04@2x.png 2x, ../img/img-ico-service-04@3x.png 3x">
            </div>
            <div>
              <h2 class="sub-title">Atlassian</h2>
              <div>
                  －  Jira/Confluence를 활용한 프로젝트 스프린트 및 스크럼<br/>
                  －  Infra 환경 구축 (ex. AWS, OS, Middleware 등)<br/>
                  －  Atlassian 솔루션 설치 및 가이드, 제품 데모 및 Hands on<br/>
                  －  애플리케이션 세팅/가이드, Trouble 슈팅 가이드<br/>
                  －  Jira/Confluence 사용자 교육
                  
              </div>
            </div>
          </div>
      </section>
      <section class="section-10">
          <div class="section-container">
            <h1 class="title">서비스 관련 기술자료 <span class="highlight-orange">다운로드</span></h1>
            <div class="flex">
              <div class="item mg-r34">
                <img src="../img/img_ssppt_01.png" srcset="../img/img-ssppt-01@2x.png 2x, ../img/img-ssppt-01@3x.png 3x">
                <div class="item-description-container">
                  <h3 class="item-description-title">클라우드 네이티브 협업</h3>
                  <div>
                      많은 기업들이 오픈 인프라와 클라우드<br/> 네이티브 전략을 시도하고 있지만, 기술보다 <br/>중요한건 의사소통과 협업/공유 문화입니다.
                  </div>
                </div>
              </div>
              <div class="item mg-r34">
                  <img src="../img/img-ssppt-02.png" srcset="../img/img-ssppt-02@2x.png 2x, ../img/img-ssppt-02@3x.png 3x">
                <div class="item-description-container">
                  <h3 class="item-description-title">애자일 & 스프린트</h3>
                  <div>
                      Atlassian 본사의 솔루션 엔지니어인 'Scott'이<br/> 전하는 신속하게 변하는 IT팀을 위한 인력,<br/> 프로세스, 제품 전반에 걸친 Atlassian의<br/> 전략을 확인해 보세요.
                  </div>
                </div>
              </div>
              <div class="item">
                  <img src="../img/img-ssppt-03.png" srcset="../img/img-ssppt-03@2x.png 2x, ../img/img-ssppt-03@3x.png 3x">
                <div class="item-description-container">
                  <h3 class="item-description-title">Atlasian, DevOps and ITSM</h3>
                  <div>오픈소스컨설팅이 개최한 Atlassian meets<br/> DevOps and ITSM 세미나 발표자료를<br/> 공유합니다. Atlassian 제품을 실제로 도입한 <br/>카카오의 활용 사례를 직접 확인해 보세요!</div>
                </div>
              </div>
            </div>
          </div>
      </section>
      <section id="contact" class="section-11">
          <div class="section-container flex">
            <div>
              <h1 class="title">
                Let’s start<br/>
                  with your project <span class="highlight-orange">together.</span>
              </h1>
              <div class="description">열린기술공방의 문은 언제든지 열려 있습니다.</div>
              <button class="orange-btn default-btn">문의하기</button>
            </div>
            <img src="../img/img_contact_illust.png">
          </div>
      </section>  
    </div>
    <!-- footer -->
    <footer>
      <div class="footer-contact">
        <div class="section-container">
          <img src="../img/img-ico-sns-1.png">
          <img src="../img/img-ico-sns-2.png">
          <img src="../img/github.png">
          <img src="../img/vector-smart-object.png">
          <button class="family-site-btn">Family Site</button>  
        </div>
      </div>
      <div class="footer-bottom">
        <div class="section-container flex">
          <div class="item">
            <div class="menu-title">Home</div>
            <ul class="menu-item">
              <li><a href="#intro">열린기술공방소개</a></li>
              <li><a href="#philosophy">우리의 철학</a></li>
              <li><a href="#service">우리의 서비스</a></li>
              <li><a href="#contact">문의하기</a></li>
            </ul>
          </div>
          <div class="item">
            <div class="menu-title">Migration Service</div>
            <ul class="menu-item">
              <li><a href="#migration-service-intro">서비스 개요</a></li>
              <li><a href="#service-provide">제공 서비스</a></li>
              <li><a href="#migration-methodology">Migration 방법론</a></li>
              <li><a href="#achitecture">기술 Architecture</a> </li>
              <li><a href="#contact">Contact us</a></li>
            </ul>
          </div>
          <div class="item">
            <div class="menu-title">DevOps/MSA Consulting</div>
            <ul class="menu-item">
              <li><a href="#devops-service-intro">서비스 개요</a></li>
              <li><a href="#devops-service-provide">제공 서비스</a></li>
              <li><a href="#contact">Contact us</a></li>
            </ul>
          </div>
          <div class="item">
            <div>문의처 +82 - 2-516-0711</div>
            <div>sales@osci.kr</div>
          </div>
        </div> 
      </div>
    </footer>
  </div>
</body>
</html>